/* normalize */
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

hr {
  height: 0;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp,
pre {
  font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

/* end normalize */
.client-slider {
  position: relative;
}

.client-slider__slide {
  position: relative;
  height: 100vh !important;
  background-color: crimson;
}

.client-slider__picture {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.client-slider__textarea {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin: 0;
  padding: 10px;
  background: yellow;
}

.client-slider .slick-arrow {
  position: absolute;
  z-index: 1;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 40px;
  height: 40px;
  border-radius: 37%;
  border: 2px solid #fff;
  padding: 0;
  margin: 0;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.8);
  color: transparent;
}

.client-slider .slick-arrow.motion:before,
.client-slider .slick-arrow.motion:after {
  -webkit-animation-name: bounceAlpha;
          animation-name: bounceAlpha;
  -webkit-animation-duration: 1.4s;
          animation-duration: 1.4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.client-slider .slick-arrow:before,
.client-slider .slick-arrow:after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 12px;
  height: 12px;
  margin-left: 0px;
  background-size: contain;
  background-image: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgNTEyIDUxMiI+PHN0eWxlPi5zdDB7ZmlsbDojZmZmfTwvc3R5bGU+PHBhdGggY2xhc3M9InN0MCIgZD0iTTMxOS4xIDIxN2MyMC4yIDIwLjIgMTkuOSA1My4yLS42IDczLjdzLTUzLjUgMjAuOC03My43LjZsLTE5MC0xOTBjLTIwLjEtMjAuMi0xOS44LTUzLjIuNy03My43UzEwOSA2LjggMTI5LjEgMjdsMTkwIDE5MHoiLz48cGF0aCBjbGFzcz0ic3QwIiBkPSJNMzE5LjEgMjkwLjVjMjAuMi0yMC4yIDE5LjktNTMuMi0uNi03My43cy01My41LTIwLjgtNzMuNy0uNmwtMTkwIDE5MGMtMjAuMiAyMC4yLTE5LjkgNTMuMi42IDczLjdzNTMuNSAyMC44IDczLjcuNmwxOTAtMTkweiIvPjwvc3ZnPg==);
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.client-slider .slick-arrow:after {
  margin-left: 0px;
}

.client-slider .slick-arrow:before {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.client-slider .slick-prev {
  left: 0;
  -webkit-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
  -webkit-transform-origin: center;
          transform-origin: center;
}

.client-slider .slick-next {
  right: 0;
}

@-webkit-keyframes bounceAlpha {
  0% {
    opacity: 1;
    -webkit-transform: translate(0, -50%) scale(1);
            transform: translate(0, -50%) scale(1);
  }
  25% {
    opacity: 0;
    -webkit-transform: translate(10px, -50%) scale(0.9);
            transform: translate(10px, -50%) scale(0.9);
  }
  26% {
    opacity: 0;
    -webkit-transform: translate(-10px, -50%) scale(0.9);
            transform: translate(-10px, -50%) scale(0.9);
  }
  55% {
    opacity: 1;
    -webkit-transform: translate(0, -50%) scale(1);
            transform: translate(0, -50%) scale(1);
  }
}

@keyframes bounceAlpha {
  0% {
    opacity: 1;
    -webkit-transform: translate(0, -50%) scale(1);
            transform: translate(0, -50%) scale(1);
  }
  25% {
    opacity: 0;
    -webkit-transform: translate(10px, -50%) scale(0.9);
            transform: translate(10px, -50%) scale(0.9);
  }
  26% {
    opacity: 0;
    -webkit-transform: translate(-10px, -50%) scale(0.9);
            transform: translate(-10px, -50%) scale(0.9);
  }
  55% {
    opacity: 1;
    -webkit-transform: translate(0, -50%) scale(1);
            transform: translate(0, -50%) scale(1);
  }
}
/*# sourceMappingURL=main.css.map */