.client-slider {
  position: relative;

  &__arrow.double-arrow {
    position: absolute;
    z-index: 1;
    top: 50%;

    &[aria-label='Previous'] {
      left: 25px;
      transform: translateY(-50%) rotate(180deg);
    }

    &[aria-label='Next'] {
      right: 25px;
      transform: translateY(-50%);
    }
  }

  &__slide {
    position: relative;
    height: 100vh !important;
  }

  &__picture {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  &__textarea {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    margin: 0;
    padding: 10px;

    background: yellow;
  }
}
