.header {
  position: fixed;
  z-index: 9;
  left: 0;
  bottom: 0;

  width: 100%;
  height: 60px;

  display: flex;
  align-items: center;
  justify-content: space-around;

  // background-color: rgba(0, 0, 0, 0.5);

  transform: translateY(0);
  transition: transform 300ms linear 0.3s;

  &.hide-down {
    transform: translateY(30px);
  }

  &__contacts {
    text-transform: uppercase;
  }

  &__menu {
    text-transform: uppercase;
  }

  &__toggle-btn {
    @extend %btn;
    @extend %btn--standart-circle;

    background-color: #fff;

    &.is-open {
      position: relative;
      z-index: 92;
      background-color: #000000;
    }

    & .icon-close,
    &.is-open .icon-open {
      display: none;
    }
    &.is-open .icon-close {
      display: block;
      fill: $color--white;
    }
  }

  &__toggle-container {
    display: none;

    &.is-open {
      display: block;

      position: absolute;
      z-index: 91;
      left: 0;
      bottom: 0;

      width: 100%;
      height: 100vh;

      background-color: $color--black;
    }
  }

  //
}
