$color--white: #ffffff;
$color--black: #000000;
$color--dark-opacity: rgba(0, 0, 0, 0.2);

// %btn--standart-circle
$btn--standart-circle__size: 40px;
$btn--standart-circle__fill: $color--dark-opacity;
